* {margin:0; padding:0} /*убираем все отступы, внутренние, внешнии*/
body {
    background-image: linear-gradient( 45deg, #fff064, #e9ffd8, #b800);
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px
}
.header {
    /*background-color: silver; */

    background-image: url(image/gradient.jpg);
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: 50% 0%;*/

    padding: 10px;
    height: 50px;
    text-align: center;
    line-height:50px;
    color: aqua;
}
.menu {
    float: left;
    border: 4px solid black;
    width:150px; padding: 5px; 			margin:10px; min-height: 20px
}
.text {
    border: 4px solid black;
    padding: 5px; margin:10px 10px 10px 185px;
    min-height: 500px
}
.footer {
    background-color: silver;
    clear: both;
    padding: 5px;
    height:30px;
    line-height:30px
}
label { /*стиль всех элементов label*/
    display: inline-block; /*тип блока*/
    width: 150px; /*ширина*/
    vertical-align: top; /*вертикальное выравнивание*/
    /*line-height:5px;*/
}
label.radio { /*стиль всех элементов label*/
    display: inline-block; /*тип блока*/
    width: 30px; /*ширина*/
    vertical-align: top; /*вертикальное выравнивание*/
    /*line-height:5px;*/
}
select { /*стиль для списков*/
    width: 150px; /*ширина*/
    border: 1px solid black; /*определение стиля для границ*/
}
input.pole { /*стиль для элементов input, имеющих клас pole*/
    width: 250px; /*ширина*/
    border: 1px solid black; /*определяет стиль границ*/
}
textarea { /*стиль для многострочного текстового поля*/
    width: 250px; /*ширина*/
    height: 100px; /*высота*/
    border: 1px solid black; /*определение стиля для границ*/
}
form  div { /*стиль для всех div, расположеных внутри form*/
    margin-bottom: 20px; /*определение стиля границ*/
}